html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,
body {
  color: #555;
  font-size: 16px;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

#app {
  background-color: #FFF;
  width: 100%;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
  color: #FFF;
  cursor: default;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

.head-wrapper {
  background-color: #000;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5rem;
  z-index: 10;
  padding-bottom: 2px;
  opacity: 0.5;
}

.head {
  position: relative;
  margin: 0 3.5rem;
  height: 100%;
}

.head_logo {
  width: 80%;
}

.head_button {
  width: 20%;
}

.logo {
  color: #DDD;
  font-weight: bold;
}

.web {
  margin: 0 auto;
}

.white-web-card {
  height: 100%;
  width: 100%;
  background: #FFF;
}

.web-card {
  position: relative;
  border-bottom: 8px solid #DDD;
  padding: 50px 0;
  margin-bottom: 0;
  background: transparent;
}

.web-card.main-web-card {
  min-height: 413px;
}

.web-card-background {
  z-index: 0;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.img-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1.25) translateY(-10%);
  -moz-transform: scale(1.25) translateY(-10%);
  -ms-transform: scale(1.25) translateY(-10%);
  -o-transform: scale(1.25) translateY(-10%);
  transform: none;
  opacity: 0.5;
}

.footer {
  margin: 0 auto;
  background: #555;
}

.web-card.web-card-no-border {
  border-bottom: none;
  padding-bottom: 0;
}

.footer-wrapper {
  min-width: 190px;
  width: 100%;
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 1em;
  color: #DDD;
  position: relative;
}

.links {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-top: 0.5rem;
}

.links.loginButton {
  background-color: #555;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  position: fixed;
  right: 3.5rem;
}

.links.loginButton.newSave {
  position: absolute;
  right: auto;
}

.main-article {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #222;
  color: #FFF;
}

.main-article-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 40px;
  padding: 16px;
  border-bottom: solid 1px #FFF;
}

.main-article-content {
  min-height: 90px;
  padding: 16px;
  border-bottom: solid 1px #FFF;
}

.main-article-title {
  height: 30px;
  padding: 16px;
  text-align: right;
}

.main-article-title.new {
  height: 90px;
  text-align: left;
}

.links-div {
  margin-top: 15px;
  float: left;
}

.main-article input[type=text], textarea {
  border: 1px solid;
  border-radius: 3px;
  padding: 10px;
  height: 50%;
  width: 90%;
  background-color: #222;
  color: #FFF;
  font-family: "배달의민족 한나체 Air"
}

.main-article input::placeholder, textarea::placeholder {
  font-family: "배달의민족 한나체 Air"
}

.main-article-no {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100px;
  padding: 16px;
  border-bottom: solid 1px #FFF;
  font-size: 14px;
}

@media only screen and (min-width: 1024px) {
  .head-wrapper {
    height: 4rem;
  }

  .logo {
    height: 36px;
    width: 134px;
    font-size: 2em;
  }

  .web {
    padding-top: 4rem;
  }

  .web-card {
    padding: 70px 500px;
  }

  .web-card.main-web-card {
    min-height: 635.594px;
  }

  .web-card-background {
    top: -100px;
  }

  .main-article {
    margin-left: -1px;
    margin-right: -1px;
    border-radius: 3px;
    margin-bottom: 60px;
  }
}

@media only screen and (max-width: 1024px) {
  .head-wrapper {
    height: 45px;
  }

  .head {
    margin: 0 5%;
  }

  .logo {
    height: 24px;
    width: 30%;
    font-size: 1.5em;
  }

  .web {
    padding-top: 45px;
  }

  .main-img {
    height: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .links.loginButton {
    font-size: 0.9rem;
    margin-top: 0.35rem;
    padding: 0.25rem 0.5rem;
    right: 5%;
  }

  .links.loginButton.newSave {
    position: absolute;
    right: auto;
  }

  .main-article {
    margin-bottom: 15px;
    border-bottom: solid 1px #DDD;
  }

  .footer-wrapper {
    padding-left: 10px;
  }
}
